/* Default light mode */
:root {
    /* Theme colors */
    --text-color-light: #1E1E1E;
    --text-color-dark: #FFFFFF;
    --background-light: #FFFFFF;
    --background-dark: #2E2E2E;
    --box-shadow-light: rgba(0, 0, 0, 0.1);
    --box-shadow-dark: rgba(255, 255, 255, 0.1);
    --card-background-light: #FFFFFF;
    --card-background-dark: #bbbbbb;
    --card-border-light: #E0E0E0;
    --card-border-dark: #333333;
}

/* Light mode theme */
[data-theme="light"] {
    --text-color: var(--text-color-light);
    --background-color: var(--background-light);
    --box-shadow-color: var(--box-shadow-light);
    --card-background: var(--card-background-light);
    --card-border: var(--card-border-light);
}

/* Dark mode theme */
[data-theme="dark"] {
    --text-color: var(--text-color-dark);
    --background-color: var(--background-dark);
    --box-shadow-color: var(--box-shadow-dark);
    --card-background: var(--card-background-dark);
    --card-border: var(--card-border-dark);
}

p, h1, h2, h3, h4 {
    color: var(--text-color);
}

[data-testid="stHeaderActionElements"] {
    display: none;
}

[data-testid="stDecoration"] {
        display: none;
} 

[data-testid="stFileUploaderFile"] {
    display: none;
}

/* Ensure the tab container spans the full width */
div[data-baseweb="tab-list"] {
    justify-content: space-around;
}

/* Ensure the tab container button spans the full width */
button[data-baseweb="tab"] {
    width: 100%; 
    display: flex;  
    justify-content: center;  
    align-items: center;  
    padding: 10px 0;  
}

/* Ensure the tab container button spans the full width */
button[data-baseweb="tab"] > div[data-testid="stMarkdownContainer"] > p {
  font-size: 20px;
}

h1 {
    background: linear-gradient(to right, #166534, #1e40af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    font-weight: bold;
    padding: 0;
}

.stAppHeader {
    display: block;
}
